@media (max-width: 768px) {
  .header {
    width: 100%;
    height: 8rem;
    background-color: transparent;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  .text-3xl {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .rel {
    display: none;
  }
  .left-48 {
    left: 0;
  }
  .home {
    position: relative;
    right: 10%;
    transform: translateX(-10%);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 23px;
    margin-bottom: 3rem;
    margin-left: -74%;
  }
  .nav {
    margin-left: -74%;
    font-size: 12px;
    width: 100%;
  }
  .cards {
    flex-direction: column;
    margin-bottom: 1rem;
    padding: 32px;
    background-color: #e2dede;
    border-radius: 45px;
  }
  .articles {
    display: flex;
    flex-direction: column;
    font-size: smaller;
    margin-top: 4rem;
  }
}
